<template>
  <v-app>
    <navBar />
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import navBar from './components/NavBar'

export default {
  name: 'App',

  components: {
    navBar,
  },

  data: () => ({
    //
  }),
};
</script>
