<main>
    <h2>add recipe</h2>
	<input type="text" bind:value={recipeName} placeholder="name"><br>
	<input type="text" bind:value={recipeType} placeholder="type"><br>
    <button on:click={submit}>submit</button>
</main>

<script>
    import {db, auth } from "../../model/firebase"

    let recipeName = "";
    let recipeType = "";
    let recipe = db.collection("recipes");
    let submit = async () => {
        auth.onAuthStateChanged(user => {
            if (user) {
                let d = new Date();
                recipe.add({
                    uid: user.uid,
                    createdAt: d.toUTCString(),
                    name: recipeName,
                    type: recipeType
                })
                console.log(user.uid, d.toUTCString(), recipeName, recipeType)
            }
        })
    }

</script>

<style>
	main {
        width: auto;
        height: auto;
        background-color: orange;
	}
</style>


