<main>
    <h2>recipes</h2>
    {#if !f}
        <p>empty</p>
    {:else}
        {#each recs as rec}
            <p>{rec.name}</p>
        {/each}
    {/if}
    
</main>

<script>
    import { onMount } from 'svelte';
    import { db, auth } from "../../model/firebase";

    let f = false;
    let recs = [];
    onMount(async () => {
        auth.onAuthStateChanged(user => {
            if (user) {
                let r = db.collection("recipes");
                let recipes = r.where("uid", "==", user.uid)
                .orderBy('createdAt')
                .onSnapshot(data => {
                    let items = data.docs.map(doc => {
                        recs.push(doc.data());
                    })
                    f = true
                })
            } else {
                recs = []
                f = false 
            }
        })
    })
</script>

<style>
	main {
        width: auto;
        height: auto;
        background-color: orange;
	}
</style>


