<main>
    <h2>profile</h2>
    <p>{username}</p>
    <p>{email}</p>
</main>

<script>
    export let username
    export let email
</script>

<style>
    main {
        width: auto;
        height: auto;
        background-color: orange;
	}
</style>