<main>
    {#if user}
        <h2>add</h2>
        <input type="text" bind:value={recipeName} placeholder="name">
        <button on:click={submit}>submit</button>
    {/if}
    <h2>recipes</h2>
    {#each recs as r}
        <p>{r.name} - {r.username}</p>
    {/each}
</main>

<script>
    import {auth} from "../../model/firebase"
    import { authState } from "rxfire/auth";
    import { collectionData } from 'rxfire/firestore';
    
    import {post, target} from "../../controller/db";


    let user;
    let recipeName = "";
    let recs = []

    const unsubscribe = authState(auth).subscribe(u => {user = u})
    collectionData(target("recipes"), 'id').subscribe(r => {recs = r})
    const submit = async () => {
        const d = new Date();
        await post("recipes", {
            uid: user.uid,
            username: user.displayName,
            name: recipeName,
            ingredients: ["none"],
            instructions: ["none"],
            images: ["none"],
            upvotes: 0,
            downvotes: 0,
            createdAt: d.toUTCString()
        }).then(res => console.log(res))
        .catch(e => {console.log(e)})
    }

</script>

<style>
	main {
        width: auto;
        height: auto;
        background-color: orange;
	}
</style>


