<template>
  <div>
    <v-card class="mx-auto" max-width="500">
      <v-toolbar flat color="transparent">
      <v-toolbar-title>Ingredients</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field v-model="ingredient" append-icon="mdi-plus" @click:append="addIngredient(ingredient)" 
        solo flat full-width hide-details label="ingredient..."></v-text-field>
      </v-toolbar>
      <v-container class="py-0">
        <v-row align="center" justify="start">
          <v-col v-for="(selection, i) in ingredients" :key="i" class="shrink">
            <v-chip close @click:close="removeIngredient(selection)">
              {{ selection }}
            </v-chip>
          </v-col>
          <v-col cols="12">
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
  export default {
    name: 'IngredientCard',
    data: () => ({
      ingredient: '',
      selected: [],
    }),
    computed: {
      ingredients () {return this.$store.state.user.userData.ingredients}
    },
    methods: {
      async addIngredient(val) {
        this.$store.dispatch('user/addIngredient', val)
        this.ingredient = ''
      },
      async removeIngredient(val) {
        this.$store.dispatch('user/removeIngredient', val)
      }
    },
  }
</script>
