<template>
  <div>
    <div v-for="i in ingredients" :key="i">
      <ingredientCard :ingredient="i" /><br>
    </div>
  </div>
</template>

<script>
import ingredientCard from './IngredientCard'

export default {
  name: "IngredientList",
  components: {
    ingredientCard
  },
  computed: {
    ingredients() {
      return this.$store.state.user.ingredients}
  }
}
</script>
