<template>
    <v-app-bar app dense prominent flat>
      <v-toolbar-title class="headline font-weight-light">
       <router-link to="/">
          chaifo🔥
        </router-link>
      </v-toolbar-title>
        <v-spacer></v-spacer>
        <div v-if="status">
            <router-link to="/u" class="text-decoration-none">
                profile
            </router-link> 
            <router-link to="/ingredients" class="text-decoration-none">
                ingredients
            </router-link>
        </div>
        <v-btn v-if="status" @click="logout">logout</v-btn>
        <v-btn v-else @click="login">login</v-btn>
    </v-app-bar>
</template>

<script>

export default {
  name: "NavBar",
  data() {
    return {
      logstatus: false
    }
  },
  computed: {
    status() {return this.$store.state.user.logged}
  },
  methods: {
    async login() {
      this.$store.dispatch('user/login')
    },
    async logout() {
      this.$store.dispatch('user/logout')
    }
  }
}
</script>