<template>
  <div>
    <v-card v-if="user" class="mx-auto" max-width="400" outlined>
      <v-list-item three-line>
        <v-list-item-avatar size="80" color="grey">
          <img alt="user" :src="user.image">
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title v-if="edit" class="headline mb-1">
            {{user.username}}
            <v-btn outlined rounded text @click="toggleEdit">edit</v-btn>
          </v-list-item-title>
          <v-text-field v-else v-model="username" append-icon="mdi-plus" @click:append="editUsername" flat label="username"></v-text-field>
          <v-list-item-subtitle v-if="edit">{{user.bio}}</v-list-item-subtitle>
          <v-text-field v-else v-model="bio" append-icon="mdi-plus" @click:append="editUsername" flat label="bio"></v-text-field>
        </v-list-item-content>
      </v-list-item>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn outlined rounded text>b</v-btn>
        <v-btn outlined rounded text>f1</v-btn>
        <v-btn outlined rounded text>f2</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  export default {
    name: 'ProfileCard',
    data: () => ({
      edit: true,
      username: '',
      bio: ''
    }),
    computed: {
      user () {
        return this.$store.state.user.userData[0]}
    },
    methods: {
     async toggleEdit() {
       this.edit = !this.edit
     },
     async editUsername() {
       this.$store.dispatch('user/postUserData', {
         'username': this.username,
         'bio': this.bio
       })
       this.toggleEdit()
     }
    },
    created() {
      this.$store.dispatch('user/getUser')
    }
  }
</script>
