<template>
  <div>
    <v-card dark>
      <div class="d-flex flex-no-wrap justify-space-between">
        <div>
          <v-card-title v-text="recipe.name" class="headline"></v-card-title>
          <v-card-subtitle v-text="recipe.username"></v-card-subtitle>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>

export default {
  name: "RecipeCard",
  props: ['recipe']
}
</script>
