<template>
  <div>
    <input type="text" placeholder="name" v-model="recipe.name">
    <button @click="submitRecipe">add</button>
  </div>
</template>

<script>

export default {
  name: "AddRecipe",
  data() {
    return {
      recipe: {
        uid: null,
        username: null,
        name: null,
        ingredients: [],
        instructions: [],
        images: [],
        upvotes: 0,
        downvotes: 0,
        createdAt: null
      }
    }
  },
  methods: {
    async submitRecipe() {
      if (this.$store.state.user.profile.uid) {
        this.recipe.uid = this.$store.state.user.profile.uid
        this.recipe.username = this.$store.state.user.profile.displayName
        let d = new Date()
        this.recipe.createdAt = d.toUTCString()
        this.$store.dispatch('recipe/addRecipe', this.recipe)
      } else {
        alert("please log in")
      }
      this.recipe.name = null
    }
  }
}
</script>
