<template>
  <div>
      <div v-for="r in recipes" :key="r.id">
        <recipeCard :recipe="r" /><br>
      </div>
  </div>
</template>

<script>
import recipeCard from './RecipeCard'

export default {
  name: "RecipeList",
  components: {
    recipeCard
  },
  computed: {
    recipes() {
      console.log(this.$store.state.recipe.recipes)
      return this.$store.state.recipe.recipes}
  },
  created() {
    this.$store.dispatch('recipe/getRecipes')
  }
}
</script>
