<main>
    <Router url="{url}">
        <nav>
           <Link to="/">Home</Link>
           <Link to="profile">Profile</Link>
         </nav>
         <div>
           <Route path="profile" component="{Profile}" /> 
           <!--for now the router just support case sensitive,
               one workaround colud be add two time the route
               Example.
              <Route path="About" component="{About}" /> 
           -->
           <Route path="/"><Home /></Route>
         </div>
       </Router>
    <h1>{name}</h1>
    {#if user}
        <p>logged in as {user.displayName}
        <button on:click={logout}>logout</button></p>
        
    {:else}
        <button on:click={login}>sign in with google</button><br>
    {/if}
    <Recipes />
</main>

<script>
    import { Router, Route, Link } from "svelte-routing";
    import Home from "./Home.svelte";
    import Profile from "./Profile.svelte";
    export let url = "";

    import Recipes from "./components/recipes.svelte"

    import { auth, googleAuth } from "../model/firebase";
    import  { authState } from "rxfire/auth";
    
    let user;
    let profile;
    let name = 'chaifo';

    const unsubscribe = authState(auth).subscribe(u => {
        user = u
       
    });
    const login = async () => {auth.signInWithPopup(googleAuth);}
    const logout = async () => {auth.signOut();}
</script>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
        margin: 0 auto;
        background-color: grey;
	}

	h1 {
		color: orange;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>


