<template>
  <div class="home">
    <!-- <recipeAdd /> -->
    <recipeList />
  </div>
</template>

<script>
import recipeList from "../components/RecipeList"
import recipeAdd from "../components/RecipeAdd"

export default {
  name: "Home",
  components: {
    recipeList,
    recipeAdd
  }
}
</script>
