<template>
  <div class="home">
    <ingredientCard />
  </div>
</template>

<script>
import ingredientCard from '../components/IngredientCard'

export default {
  name: "Ingredients",
  components: {
    ingredientCard
  }
}
</script>