<template>
  <div class="home">
    <profileCard />
  </div>
</template>

<script>
import profileCard from '../components/ProfileCard.vue'

export default {
  components: { profileCard },
  name: "Profile"
}
</script>
